<title>Stichting Moslimperspectief (SMP) — Een islamitisch geluid</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="theme-color" content="#93c01f" />

<style>
:root {
    --color-green: #93c01f;
    --color-blue: #009ee2;
    --color-orange: #f8b033;

    --primary-color: var(--color-green);
    --secondary-color: var(--color-orange);
}

body {
    overflow-y: scroll;
    background-color: var(--secondary-color);
}

.logo {
    display: inline-block;
    max-width: 100%;
}
</style>

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.min.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M24SQ5GK90"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M24SQ5GK90');
</script>


<div class="container py-4">
    <a href="https://www.moslimperspectief.nl"
        class="logo my-3"
    >
        <img src="images/moslimperspectief-logo-landschap-kleur.png"
            alt="Stichting Moslimperspectief logo"
            width="100%"
            style="max-height: 200px;"
        />
    </a>

    <div class="row">
        <div class="col col-lg-9">
            <p>
                <em>Stichting Moslimperspectief</em> is een onafhankelijke stichting opgericht in 2011. Wij begonnen in 2011 met het opzetten van het project <a href="https://www.waaromislam.nl">Waaromislam</a> om niet-moslims te kunnen voorzien van informatie over de islam. Hierna hebben wij ons doorontwikkeld en zijn er projecten zoals <a href="https://www.bekeerlingen.nl">Bekeerlingen</a>, <a href="https://www.dabstudies.nl">DAB Studies</a> en <a href="https://www.islam4tieners.nl">Islam4Tieners</a> ontstaan. Sinds 2017 hebben wij een pand kunnen betrekken waarin wij lessen, trainingen en cursussen kunnen verzorgen.
            </p>
            <p>
                Ons doel is om de islam op een transparante, ondogmatische en gebalanceerde manier over te brengen op onze doelgroepen. Wij vinden het dan ook belangrijk dat onze docenten en instructeurs pedagogische en didactische vaardigheden bezitten en er tevens voor zorgen dat de student en leerling zich veilig en op hun gemak voelen binnen onze stichting.
            </p>
            <p>
                Wij staan ingeschreven bij het KvK onder het nummer <strong>56608888</strong>.
            </p>

            <h3 id="themas-en-onderwerpen">Een klein inzicht in de thema's en onderwerpen</h3>
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-4 my-2">
                    <div class="h-100 mx-2 p-3 rounded" style="background: var(--color-green);">
                        <h5 id="thema-1-maatschappelijke-kwesties">1. Maatschappelijke kwesties</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Juiste omgang met de medemens</li>
                            <li class="list-group-item">Hoe om te gaan met islamofobie</li>
                            <li class="list-group-item">Negatief zelfbeeld en onzekerheid</li>
                            <li class="list-group-item">Alcohol en drugs</li>
                            <li class="list-group-item">Scheiding ouders</li>
                            <li class="list-group-item">Mishandeling</li>
                            <li class="list-group-item">Suïcidale ideeën en gedrag</li>
                            <li class="list-group-item">En nog veel meer!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-2">
                    <div class="h-100 mx-2 p-3 rounded" style="background: var(--color-green);">
                        <h5 id="thema-2-waaromislam-project">2. Waaromislam project</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Wat moslims geloven</li>
                            <li class="list-group-item">Waarom moslims kiezen voor islam</li>
                            <li class="list-group-item">Cultuur vs religie</li>
                            <li class="list-group-item">Verkeerde opvattingen verhelderen</li>
                            <li class="list-group-item">Gratis boekjes en overige informatie uitgeven</li>
                            <li class="list-group-item">En nog veel meer!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 my-2">
                    <div class="h-100 mx-2 p-3 rounded" style="background: var(--color-green);">
                        <h5 id="thema-3-bekeerlingen-project">3. Bekeerlingen project</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Steun voor nieuwe moslims</li>
                            <li class="list-group-item">Begeleiding omtrent de islam</li>
                            <li class="list-group-item">Organiseren van uitjes en bijeenkomsten</li>
                            <li class="list-group-item">En nog veel meer!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-9">
            <!-- START CTA -->
            <a href="mailto:info@moslimperspectief.nl?subject=Vraag aan Stichting Moslimperspectief&body=Ik kom van moslimperspectief.nl en wil graag een vraag stellen."
                class="btn btn-primary btn-lg d-block"
            >
                <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-envelope-open"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    style="position: relative; top: -3px;"
                >
                    <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
                </svg>

                Stuur ons een email
            </a>
            <p class="text-muted text-center mt-1">
                Of gebruik onze WhatsApp nummer:

                <a href="https://api.whatsapp.com/send?phone=+31683717156&amp;text=Ik kom van moslimperspectief.nl en wil graag een vraag stellen."
                    target="_self"
                    class="font-weight-bold text-success"
                ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fab"
                    data-icon="whatsapp"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="mr-1 text-success svg-inline--fa fa-whatsapp fa-w-14"
                    style="position: relative; top: -1px; width: 14px;"
                >
                    <path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path>
                </svg>06 837 171 56</a>
            </p>
            <!-- END CTA -->
        </div>
    </div>
</div>
